.spinner {
  width: 40px;
  height: 40px;
  /* background-color: #333; */

  margin: 0px auto;
  -webkit-animation: sk-rotateplane 1.4s infinite ease-in-out;
  animation: sk-rotateplane 1.4s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateY(-179.9deg);
  } 100% {
    transform: perspective(240px) rotateY(-329.9deg);
  }
}
